html, body {
  height: 100%; }

html {
  font-size: 100%; }

body {
  min-width: 320px;
  height: auto;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;
  color: #212529;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: normal; }

a {
  color: #dc3545;
  text-decoration: none; }
  a:hover {
    color: #b51f2e;
    text-decoration: underline; }

p {
  margin: 0 0 0.625rem 0; }

h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #dc3545;
  letter-spacing: 0.1rem; }

ul, ol {
  margin: 1.25rem 0 2rem 0;
  padding-left: 2.5rem; }

.home-sect {
  padding: 5rem 0; }
  .home-sect-grey {
    background-color: #eee; }
  .home-sect__main-title {
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 3rem; }
    .home-sect__main-title::before {
      content: "";
      position: absolute;
      top: -0.625rem;
      left: 50%;
      height: 0.25rem;
      width: 6rem;
      margin-left: -3rem;
      background-color: #dc3545; }

.preview {
  position: relative; }
  .preview__small-info {
    position: relative;
    margin-top: -5rem;
    z-index: 1; }

.main-slider {
  position: relative; }
  .main-slider__slide {
    position: relative; }
    .main-slider__slide::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2); }
    .main-slider__slide-content {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 45%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .main-slider__slide-content-title {
        font-size: 3.5rem;
        color: #fff;
        text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.75); }
    .main-slider__slide-img {
      padding-top: 30%;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }

.main-slider.owl-carousel:hover .owl-nav button.owl-prev, .main-slider.owl-carousel:hover .owl-nav button.owl-next {
  opacity: 1; }

.main-slider.owl-carousel .owl-nav {
  width: 100%;
  position: absolute;
  top: 37%;
  z-index: 3; }
  .main-slider.owl-carousel .owl-nav button.owl-prev, .main-slider.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    font-size: 2rem;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px #888;
            box-shadow: 0 0 3px #888;
    opacity: 0;
    border: 2px solid #fff;
    -webkit-transition: opacity 0.2s ease-out, border 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out, border 0.2s ease-out;
    transition: opacity 0.2s ease-out, border 0.2s ease-out; }
    .main-slider.owl-carousel .owl-nav button.owl-prev:hover, .main-slider.owl-carousel .owl-nav button.owl-next:hover {
      border-color: #dc3545; }
      .main-slider.owl-carousel .owl-nav button.owl-prev:hover .fas, .main-slider.owl-carousel .owl-nav button.owl-next:hover .fas {
        color: #dc3545; }
    .main-slider.owl-carousel .owl-nav button.owl-prev .fas, .main-slider.owl-carousel .owl-nav button.owl-next .fas {
      position: relative;
      color: #444;
      top: 1px;
      -webkit-transition: color 0.2s ease-out;
      -o-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out; }
  .main-slider.owl-carousel .owl-nav button.owl-prev {
    left: 2rem; }
    .main-slider.owl-carousel .owl-nav button.owl-prev .fas {
      left: -2px; }
  .main-slider.owl-carousel .owl-nav button.owl-next {
    right: 2rem; }
    .main-slider.owl-carousel .owl-nav button.owl-next .fas {
      right: -2px; }

.small-info {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 5px #888;
          box-shadow: 0 -2px 5px #888;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .small-info__row {
    margin: 0; }
  .small-info__col {
    padding: 0; }
    .small-info__col:last-child .small-info__item {
      border-right: none; }
  .small-info__item {
    padding: 1.5rem 1rem;
    border-right: 1px dashed #dedede;
    height: 100%; }
    .small-info__item-title {
      font-size: 1.375rem;
      color: #dc3545;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 1rem 0; }
      .small-info__item-title-text, .small-info__item-title-number {
        display: block; }
    .small-info__item-text {
      display: block;
      font-size: 0.875rem;
      text-align: center;
      margin-bottom: 1.5rem; }

.promo__item {
  margin-bottom: 2rem; }

.promo__wrap-img {
  width: 15rem;
  height: 15rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden; }

.promo__content-title {
  margin-bottom: 1rem; }

.promo__content-text {
  font-size: 0.9375rem; }

.path-arrows__wrap-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.path-arrows__item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 160px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }
  .path-arrows__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .path-arrows__item:first-child .path-arrows__content {
    margin-left: 50px; }

.path-arrows__content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  color: #fff;
  font-weight: 500;
  margin-top: 54px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: left; }
  .path-arrows__content-icon {
    font-size: 2rem;
    position: relative;
    margin-top: -8px; }
  .path-arrows__content-text {
    padding-left: 40px; }
    .path-arrows__content-text-number {
      position: absolute;
      font-size: 1.25rem;
      font-weight: 700;
      margin-left: -22px;
      margin-top: -4px; }
    .path-arrows__content-text-title {
      font-size: 0.875rem; }

.path-arrows__arrow-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.key-doctors__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.key-doctors__card-img-wrap {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
  border: 0.4rem solid #afb5ba;
  -webkit-transition: border-color 0.25s ease-out;
  -o-transition: border-color 0.25s ease-out;
  transition: border-color 0.25s ease-out;
  margin: 0 0 0.5rem 0; }

.key-doctors__card-doc {
  color: #6c757d;
  margin-bottom: 1rem; }

.key-doctors__card-text {
  font-size: 0.9375rem;
  margin-bottom: 2rem; }

.key-doctors__card-button {
  padding: 0.625rem 1.25rem;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #afb5ba;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out; }
  .key-doctors__card-button:hover {
    text-decoration: none;
    background-color: #dc3545;
    color: #fff; }

.key-doctors .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.key-doctors .owl-carousel .owl-item {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #dbdbdb;
  border-bottom-width: 3px;
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .key-doctors .owl-carousel .owl-item:hover .key-doctors__card-img-wrap {
    border-color: #dc3545; }
  .key-doctors .owl-carousel .owl-item:hover .key-doctors__card-button {
    background-color: #dc3545; }
  .key-doctors .owl-carousel .owl-item .key-doctors__card-img {
    display: inline-block;
    height: 12rem;
    width: 12rem; }

.key-doctors .owl-carousel .owl-dots {
  text-align: center;
  margin-top: 3rem; }
  .key-doctors .owl-carousel .owl-dots .owl-dot {
    width: 1rem;
    height: 1rem;
    background-color: #afb5ba;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 0.35rem; }
    .key-doctors .owl-carousel .owl-dots .owl-dot.active {
      background-color: #dc3545; }

.info-items__col {
  margin-bottom: 3.5rem; }

.info-items__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75rem; }
  .info-items__title-img-wrap {
    margin-right: 0.2rem; }
  .info-items__title-text {
    color: #dc3545;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 500; }

.info-items__text {
  font-size: 0.9375rem; }
