.main-header
	.js-hidden-scroll
		display: none 

	.js-main-logo-col
		flex: 0 0 20%
		max-width: 20%
	.js-header-nav-col
		flex: 0 0 80%
		max-width: 80%
	.margin-top-null
		margin-top: 0
	.flex-align-items-vertica-center
		align-items: center

.main-header
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 0.5rem 0
	border-bottom: #888
	box-shadow: 0 2px 5px #888
	z-index: 10
	background: #fff
	transition: all .4s ease-out
	div
		transition: all .4s ease-out

.main-logo
	&__link
		display: block
		text-align: center
		transition: opacity $main-trans
		&:hover
			opacity: 0.8
			text-decoration: none
			.main-logo__text
				text-decoration: none
	&__text
		display: block
		margin-top: 1rem
		text-decoration: none
		text-transform: uppercase
		font-size: 0.5rem
		letter-spacing: 0.32rem
		font-weight: 700
		color: $default-color
		white-space: nowrap

.quick-links
	&__row
		text-align: center
	&__link
		font-weight: 700
		font-size: 0.875rem
	&-phone
		text-align: right

.main-nav
	margin-top: 45px
	&__row
		text-align: center
	&__list
		list-style-type: none
		margin: 0
		padding: 0
	.nav-item
		-ms-flex-preferred-size: 0
		flex-basis: 0
		-ms-flex-positive: 1
		flex-grow: 1
		max-width: 100%

#top_menu
	.nav-item.divider
		display: none !important

.main-nav .main-nav__item-link,
.main-nav .nav-link
	color: $default-color
	text-transform: uppercase
	padding: 0.75rem 1rem
	font-size: 1.125rem
	font-weight: 700
	&:hover
		text-decoration: none
		color: $red

.go-call
	margin-top: 36px
	text-align: right
	&__btn
		font-weight: 700
		padding: 0.7rem 1rem
		font-size: 1.125rem
		text-transform: uppercase
		line-height: 1