/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199.98px)
	html
		font-size: 90%
	.path-arrows
		&__item
			&:first-child 
				.path-arrows__content
					margin-left: 35px
		&__content
			margin-top: 45px
			margin-left: 55px
			margin-right: 45px
			&-icon
				font-size: 1.5rem
			&-text-number
	main#main-content-layour
		margin-top: 110px



/* Medium Devices, Desktops */
@media only screen and (max-width : 991.98px)
	html
		font-size: 85%

	main#main-content-layour
		margin-top: 90px


	.main-logo
		&__text
			letter-spacing: 0.2rem
	.main-nav
		margin-top: 35px

	.main-slider
		&__slide-img
			padding-top: 40%
		&__slide-content-title
			font-size: 2rem
			margin-bottom: 1rem

	.preview
		&__small-info
			&-container
				max-width: 100%

	.path-arrows
		&__item
			height: 103px
			&:first-child 
				.path-arrows__content
					margin-left: 20px
		&__content
			margin-top: 30px
			margin-left: 55px
			margin-right: 45px
			&-icon
				font-size: 1.25rem

			&-text-number
				font-size: 0.75rem

	.promo
		&__wrap-img
			width: 12rem
			height: 12rem
	.doctors-list
		&__item
			&-right
				padding: 0.75rem 1rem
		&__img
			width: 7rem
	.buttons-doctors		
		&__btn
			padding: 0.3rem 0.6rem
			font-size: 0.9375rem


@media only screen and (max-width : 991.98px) and (min-width : 768px)
	.main-header
		&__container
			max-width: 100%
	.path-arrows
		&__item
			&:first-child 
				.path-arrows__content
					margin-left: 30px
					margin-top: 30px
		&__content
			margin-top: 25px
			margin-left: 45px
			margin-right: 40px
			&-icon
				display: none
			&-text
				padding-left: 15px
				&-number
					font-size: 0.875rem
					margin-left: -18px
					margin-top: 0px


/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px)
	html
		font-size: 90%
	.home-sect
		padding: 3rem 0
		&__main-title
			margin-bottom: 3rem
	.main-logo
		width: 200px
		&-col
			display: flex
			align-items: center
			justify-content: space-between

	.header-nav,
	.main-logo__text
		display: none

	.preview
		padding-top: 0
		&__small-info
			padding-top: 3rem
			margin-top: 0
			z-index: auto
	.main-slider
		&__slide-img
			padding-top: 40%
	.small-info
		box-shadow: none
		&__item
			border-right: none
			padding: 0 0 1rem 0

	.path-arrows
		&__wrap-item
			flex-direction: column
			align-items: center
		&__item
			width: 290px
			height: 130px
			&:first-child 
				.path-arrows__content
					margin-left: 48px
					margin-right: 40px
			&:hover
				transform: none !important
		&__content
			margin-top: 40px
			margin-left: 50px
			margin-right: 40px
			&-icon
				font-size: 21px
				margin-top: -5px
			&-text
				padding-left: 35px
				&-number
					font-size: 18px
				&-title
					font-size: 14px
    
	.promo
		&__item
			margin-bottom: 3rem
		&__item-col
			text-align: center
			&.order-2
				order: inherit
		&__wrap-img
			margin: 0 auto 1rem auto
	.footer-btn
		.footer-btn__col
			text-align: left
			margin-bottom: 1.5rem
	.main-footer
		&__first-line
			padding-bottom: 3rem
		&__second-line
			padding: 1rem 0
	.end-footer
		.end-footer__col
			text-align: left
			&:first-child
				margin-bottom: 2rem
	.quick-links-phone
		display: none			
	

	.home-articles
		&__col
			margin-bottom: 2rem
	.doctors-list
		&__nav
			margin-bottom: 15px
			&-list
				height: 150px
				overflow-y: scroll


/* Small Devices - Phones, large display */
@media only screen and (max-width : 575.98px)
	html
		font-size: 90%

	.main-slider
		&__slide-img
			padding-top: 50%
		&__slide-content-title
			font-size: 1.75rem
		.btn-group-lg > .btn, .btn-lg
			font-size: 1rem
			padding: 0.375rem 0.75rem
		&.owl-carousel 
			.owl-nav button.owl-prev
				left: 1rem
			.owl-nav button.owl-next
				right: 1rem
	
	.main-content-layour
		&-inner-page
			padding: 3rem 0
		&__main-title
			font-size: 2rem
			margin-bottom: 2.5rem

	.doctors-list
		&__item-left
			display: none
	.buttons-doctors
		&__btn
			margin-right: 0.5rem


/* Small Devices - Phones, small display */
@media only screen and (max-width : 479.98px)	
	.card-doctor
		&__header
			flex-direction: column
		&__img-wrap
			margin-right: 0
			margin-bottom: 1rem
		&__meta
			text-align: center
			&-name
				margin-bottom: 0.5rem
	.modal-doctors
		&__footer
			display: block
			justify-content: left
		.btn.btn-secondary
			margin-left: 0
	.buttons-doctors
		display: block
		&__btn
			margin-right: 0.25rem
			margin-bottom: 0.5rem
			&-icon
				display: none


/* Small Devices - Phones, small display */
@media only screen and (max-width : 419.98px)
	html
		font-size: 85%

	.main-logo
		width: 140px

	.end-footer
		&__link
			display: block
			&:first-child
				margin-bottom: 1rem
		&__sep
			display: none


@media only screen and (max-width : 359.98px)
	.buttons-doctors
		display: block
		&__btn
			padding: 0.4rem
	.btn.btn-secondary
		padding: 0.4rem
