.mobile-menu-btn
	&__link
		position: relative
	&__line-btn
		position: absolute
		left: 50%
		top: 50%
		bottom: auto
		right: auto
		display: inline-block
		width: 18px
		height: 3px
		background-color: $red
		z-index: 10
		&::before, &::after
			content: ''
			position: absolute
			top: 0
			right: 0
			width: 100%
			height: 100%
			background-color: $red
		&::before
			transform: translateY(-6px) rotate(0deg)
		&::after
			transform: translateY(6px) rotate(0deg)